/*

"StAuth10244: I Mark Kawucha, 000816619 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else."

*/

/* This file styles the various task listitem components */


.task {
    border: 1px solid gray;
    box-shadow: 0 4px 2px -2px gray;
}

.task:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

.title {
    float: left;
    padding-left: 2%;
}
